.open-menu {
   width: 320px;
   height: 526px;
   border: 1px solid;
   background: rgba(45, 44, 49, 1);
   padding: 3px 20px;
   transition: all .5s ease;
   position: fixed;
   top: 0;
   z-index: 5;
   &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 15px;
    }
   }
}
.menu-close-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.open-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-title {
    color: #fff;
    &:hover {
        color: rgba(223, 173, 42, 1);
    }
}

.overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.40);
}